<launch>

  <include file="$(find zetabank_bringup)/launch/includes/description.launch.xml">
    <arg name="model" value="$(arg model)" />
  </include>

  <node pkg="zetabank_fake" type="zetabank_fake_node" name="zetabank_fake_node" output="screen" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find zetabank_fake)/rviz/zetabank_fake.rviz"/>
</launch>
